doctype html
html(lang="en")
  head    
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js" crossorigin="anonymous") 
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")
  body 
    .container-fluid
      h2 RVK VPN Overview
      
      table.table.table-hover.table-striped
        thead
          tr
            th VPN IP            
            th UUID
            th Number
            th Revision
            th DiskLoad (Size)
        tbody    
          each client in connected_clients
            tr 
              td 
                a(href="http://#{client.vpn_ip}") #{client.vpn_ip}
              td #{client.status.ID}
              td #{client.status.Number}
              td #{client.status.Revision}
              td 
                if client.status.FreeDiskSpace               
                  each disk in client.status.FreeDiskSpace
                    | #{disk.name} (#{disk.size})
                    div.progress
                      .progress-bar.active.progress-bar-striped(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: #{disk.load}%;")
                        | #{disk.load} %
